html {
    background: cornflowerblue;
    font-family: 'Amatic SC', cursive;
}

p {
    font-size: 10px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

#balloons {
    width: 100%;
    height: auto;
}

