html {
    background: cornflowerblue;
    font-family: 'Amatic SC', cursive;
    
}

div {
    width: 100%;
    height: auto;
}

h1 {
    color: black;
    font-size: 10%;
    text-align: center;
}

#balloons {
    width: 100%;
    height: auto;
}

