html {
    background: cornflowerblue;
    font-family: 'Amatic SC', cursive;
}

#scroll {
    font-size: 12px;
    font-weight: bolder;
}

h1 {
    font-size: 100px;
    text-align: center;
}

#balloons {
    width: 100%;
    height: auto;
}

